@model List<MySportsBook.Web.Models.ReceiptViewModel>
<div class="row">
    @if (Model.Count == 0)
    {
        <div class="col-sm-12">
            <span><strong>No Payment done.</strong></span>
        </div>
    }
    else
    {
        if (!Model.FirstOrDefault().IsFullPaymentHistory)
        {

            <div class="col-sm-12 col-md-12 float-right">
                <button type="button" class="btn btn-block btn-outline-info float-right col-md-2" style="margin-bottom:10px" onclick="payHistory(@Model.FirstOrDefault().PlayerId,this,1)">Load More...</button>
            </div>
        }
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Receipt#</th>
                        <th scope="col">Paid on</th>
                        <th scope="col">Sport</th>
                        <th scope="col">Batch</th>
                        <th scope="col">Month</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Mode</th>
                        <th scope="col">Receiver</th>
                        <th scope="col">Notes</th>
                    </tr>
                </thead>
                @foreach (MySportsBook.Web.Models.ReceiptViewModel detail in Model)
                {
                    <tr>
                        <td>@detail.ReceiptNumber</td>
                        <td>@detail.ReceiptDate.ToString("dd MMM yyyy")</td>
                        <td>@detail.Sport</td>
                        <td>@detail.Batch</td>
                        <td>@detail.ReceiptPeriod</td>
                        <td>@detail.AmountPaid.ToString("0.00")</td>
                        <td>@detail.PaymentMode</td>
                        <td>@detail.ReceivedBy</td>
                        <td>
                            @detail.Description
                            @*@{
                                    string _receiptno = string.Empty;
                                    if (detail.ReceiptNumber)
                                    {
                                        var _receipt = item.Transaction_Invoice.Select(x => x.Transaction_Receipt.OrderByDescending(r => r.PK_ReceiptId).Take(1)).First();

                                        if (_receipt != null && _receipt.FirstOrDefault() != null)
                                        {
                                            _receiptno = _receipt.First().ReceiptNumber;
                                        }
                                    }
                                    <button class="btn btn-danger" onclick="deleteReceipt(@item.PK_PlayerId,@_receiptno)" title="Delete Last Generated Receipt (@_receiptno)" type="button">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                }*@
                        </td>

                    </tr>
                }
            </table>
        </div>

    }
</div>
