@model IEnumerable<MySportsBook.Web.Areas.Transaction.Models.PlayersViewMobel>

@{
    /**/

    ViewBag.Title = "Invoice";
    //if (ViewContext.ViewBag.IsAdmin != null && ViewContext.ViewBag.IsAdmin) { Layout = "/Views/Shared/Layout/_AdminLayout.cshtml"; }
    //else
    //{
    //    Layout = "/Views/Shared/Layout/_Layout.cshtml";

    //}
    Layout = "/Views/Shared/Layout/_Layout_New.cshtml";
}
<!--
<main class="main">

    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">@Html.ActionLink("Invoice", "")</li>
        <li class="breadcrumb-item active">Pay</li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i>
                    <strong>Payment</strong>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="row" style="margin-bottom:10px;">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        @Html.TextBox("search", "", new { @class = "form-control", @placeholder = "Name or phoneno" })
                                        <span class="input-group-append">
                                            <button class="btn btn-primary" type="submit">Search<i class="fa fa-search" style="margin-left: 5px;"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <table class="table table-striped table-bordered table-responsive-sm table-hover table-outline mb-0" style="width:100%">
                        <thead class="thead-light">
                            <tr>
                                <th>@Html.Label("Profile Image")</th>
                                <th>@Html.Label("Name")</th>
                                <th>@Html.Label("Mobile")</th>
                                <th>@Html.Label("Batchs")</th>
                                <th>@Html.Label("View Dues")</th>
                                <th>@Html.Label("Payment History")</th>
                                @*<th>@Html.Label("Full Payment History")</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @{
                                            if (!string.IsNullOrEmpty(item.ProfileImg))
                                            {
                                                <img class="img-avatar" src="@String.Format("data:image/gif;base64,{0}", item.ProfileImg)" width="50px" height="50px">
                                            }
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mobile)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Batches)
                                    </td>
                                    <td>
                                        <button class="btn btn-block btn-outline-info" onclick="payInvoice(@item.PK_PlayerId,this)" type="button">View Dues</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-block btn-outline-info" onclick="payHistory(@item.PK_PlayerId,this)" type="button">Payment History</button>
                                        @Html.HiddenFor(modelItem => item.PK_PlayerId)
                                    </td>
                                    @*<td>
                                            <button class="btn btn-primary" onclick="editData(@item.PK_PlayerId)" title="Edit" type="button">
                                        </td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main> -->
<div id="content-header">
    <div id="breadcrumb">
        <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
        <a href="#">Invoice</a>
        <a href="#" class="current">Pay</a>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-info-sign"></i>
                    </span>
                    <h5>Payment</h5>
                </div>
                <div class="widget-content nopadding">
                    <form class="form-horizontal" method="post" action="#" name="basic_validate" id="basic_validate" novalidate="novalidate">

                        <div class="control-group">
                            <label class="control-label">search</label>
                            <div class="controls">
                                @*@Html.TextBox("search", "", new { @class = "form-control", @placeholder = "Name or phoneno" })*@
                                <input type="text" name="required" id="required" placeholder="Name or phoneno">
                                <input type="submit" value="Validate" class="btn btn-success">
                            </div>
                        </div>
                    </form>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered data-table" style="width:100%">
                            <thead class="thead-light">
                                <tr>
                                    <th>@Html.Label("Profile Image")</th>
                                    <th>@Html.Label("Name")</th>
                                    <th>@Html.Label("Mobile")</th>
                                    <th>@Html.Label("Batchs")</th>
                                    <th>@Html.Label("View Dues")</th>
                                    <th>@Html.Label("Payment History")</th>
                                    @*<th>@Html.Label("Full Payment History")</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @{
                                                if (!string.IsNullOrEmpty(item.ProfileImg))
                                                {
                                                    <img class="img-avatar" src="@String.Format("data:image/gif;base64,{0}", item.ProfileImg)" width="50px" height="50px">
                                                }
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FirstName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mobile)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Batches)
                                        </td>
                                        <td>
                                            <button class="btn btn-block btn-outline-info" onclick="payInvoice(@item.PK_PlayerId,this)" type="button">View Dues</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-block btn-outline-info" onclick="payHistory(@item.PK_PlayerId,this)" type="button">Payment History</button>
                                            @Html.HiddenFor(modelItem => item.PK_PlayerId)
                                        </td>
                                        @*<td>
                            <button class="btn btn-primary" onclick="editData(@item.PK_PlayerId)" title="Edit" type="button">
                        </td>*@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
        </div>
    </div>


</div>

<!-- Modal -->
@*<div class="modal fade" id="invocemodel" tabindex="-1" role="dialog" aria-labelledby="invocemodel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Invoice</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>*@

<div id="InvoiceModal" class="modal modal-lg hide">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button">×</button>
        <h3>Invoice</h3>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        <a data-dismiss="modal" class="btn btn-inverse" href="#">Cancel</a>
    </div>
</div>
@Html.Partial("~/Views/Shared/Script/_DateTimePicker.cshtml")
<script type="text/javascript">

    function payInvoice(id, btn) {
        loader();
        $.ajax({
            type: "GET",
            url: "/Transaction/Invoice/GetInvoiceList/" + id,
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                loader();
                $('.modal-title').html("Invoice");
                $('.modal-body').html(response);
                $('#InvoiceModal').modal('show');
                //$('.invdetail').remove();
                //$(btn).closest('tr').after('<tr id=' + id + ' class="invdetail"><td colspan="8">' + response + '</td></tr>');
            },
            failure: function (response) {
                loader();
                alert(response.responseText);
            },
            error: function (response) {
                loader();
                alert(response.responseText);
            }
        });
    }
    function payHistory(id, btn, t) {
        loader();
        $.ajax({
            type: "GET",
            url: "/Transaction/Invoice/GetPaymentHistory?id=" + id + "&type=" + t,
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                loader();
                $('.modal-title').html("Payment(s)");
                $('.modal-body').html(response);
                $('#InvoiceModal').modal('show');
                //$('.invdetail').remove();
                //$(btn).closest('tr').after('<tr id=' + id + ' class="invdetail"><td colspan="8">' + response + '</td></tr>');
            },
            failure: function (response) {
                loader();
                alert(response.responseText);
            },
            error: function (response) {
                loader();
                alert(response.responseText);
            }
        });
    }

</script>