@model IEnumerable<MySportsBook.Web.Areas.Studio.Models.ExpenseViewModel>

@{
    ViewBag.Title = "Index";
    if (ViewContext.ViewBag.IsAdmin != null && ViewContext.ViewBag.IsAdmin) { Layout = "/Views/Shared/Layout/_AdminLayout.cshtml"; }
    else { Layout = "/Views/Shared/Layout/_Layout.cshtml"; }
}


<main class="main">
    <!-- Breadcrumb-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">@Html.ActionLink("Expense", "")</li>
        <li class="breadcrumb-item active">Index</li>
    </ol>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i>
                    <strong>Expense</strong>
                    <i class="fa fa-plus float-right">  @Html.ActionLink("Create New", "Create")</i>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="row" style="margin-bottom:10px;">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.Label("Month & Year")
                                    <div class="input-group">
                                        @Html.TextBox("Month", "", new { @class = "form-control monthyear" })
                                        <span class="input-group-append">
                                            <button class="btn btn-primary" type="submit">Search<i class="fa fa-search" style="margin-left: 5px;"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <table class="table table-striped table-bordered table-responsive-sm table-hover table-outline mb-0" style="width:100%">
                        <thead class="thead-light">
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayName("Spent By")
                                </th>
                                <th>
                                    @Html.DisplayName("Spent On")
                                </th>
                                <th>
                                    @Html.DisplayName("Amount")
                                </th>
                                <th>
                                    @Html.DisplayName("Action")
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>


                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstName)
                                    </td>
                                    <td>
                                        @item.SpentDate.ToString("dd-MMM-yyyy")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Amount)
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" onclick="editData(@item.PK_ExpenseDetailId)" title="Edit" type="button">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-danger" onclick="deleteData(@item.PK_ExpenseDetailId)" title="Delete" type="button">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
@Html.Partial("/Views/Shared/Script/_EditDelete.cshtml")
@Html.Partial("/Views/Shared/Script/_DateTimePicker.cshtml")
<script type="text/javascript">
    $(function () {
        $('.table').DataTable();
    });

</script>



